// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-mini-medium: 1024px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-tablet: 786px;
$layout-breakpoint-xsmall: 480px;

// Colors
$green: #15803d;
$background: #f0eff1;
$background2: #CFCFCF;
$white: #fff;
$black: #24242a;

// Margins and Paddings
$center-margin: 0 auto;