.contact__container {
  max-width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  place-items: center;
  font-weight: 600;
  white-space: nowrap;

  img {
    height: 400px;

    @media (max-width: $layout-breakpoint-tablet) {
      height: 300px;
    }

    @media (min-width: $layout-breakpoint-large) {
      height: 750px;
    }
  }

  span {
    font-size: 4rem;

    @media (max-width: $layout-breakpoint-tablet) {
      font-size: 3rem;
    }

    @media (min-width: $layout-breakpoint-large) {
      font-size: 7rem;
    }
  }

  @media (max-width: $layout-breakpoint-tablet) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}