// description section
.description__container {
  background-color: #e4e4e7;
  max-width: 75%;
  margin: 0 auto;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .description--text {
    text-transform: uppercase;
    font-size: 1.5rem;

    @media (max-width: $layout-breakpoint-tablet) {
      font-size: 1rem;
    }

    @media (min-width: $layout-breakpoint-mini-medium) {
      font-size: 1.75rem;
    }

    @media (min-width: $layout-breakpoint-medium) {
      font-size: 2rem;
    }

    @media (min-width: $layout-breakpoint-large) {
      font-size: 4rem;
    }
  }

  .description--middle {
    font-weight: 700;
  }
}

// services section
.slider__container {
  grid-template-columns: repeat(2, 1fr);

  .slider {
    margin: $center-margin;

    .slider-title {
      font-size: 6vw;
      text-transform: uppercase;
      font-weight: 900;
    }

    .slider-description {
      font-size: 2rem;
      margin-top: 30px;
      line-height: 1.3;

      @media (max-width: 768px) {
        font-size: 1.5rem;
        line-height: 2;
      }
    }
  }

  .slider__container--right {
    img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
      transition: all 1s ease-in-out;
      transform: scale(1.3);
      position: absolute;
      top: 0;
      &.as-primary {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }
}