// description section
.description__container {
  background-color: #e4e4e7;
  max-width: 75%;
  margin: 0 auto;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .description--text {
    text-transform: uppercase;
    font-size: 1.5rem;

    @media (max-width: $layout-breakpoint-tablet) {
      font-size: 1rem;
    }

    @media (min-width: $layout-breakpoint-mini-medium) {
      font-size: 1.75rem;
    }

    @media (min-width: $layout-breakpoint-medium) {
      font-size: 2rem;
    }

    @media (min-width: $layout-breakpoint-large) {
      font-size: 4rem;
    }
  }

  .description--middle {
    font-weight: 700;
  }
}

// services section
.slider__container {
  grid-template-columns: repeat(2, 1fr);

  .slider {
    margin: $center-margin;

    .slider-title {
      font-size: 6vw;
      text-transform: uppercase;
      font-weight: 900;
    }

    .slider-description {
      font-size: 2rem;
      margin-top: 30px;
      line-height: 1.3;

      @media (max-width: 768px) {
        font-size: 1.5rem;
        line-height: 2;
      }
    }
  }

  .slider__container--right {
    img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
      transition: all 1s ease-in-out;
      transform: scale(1.3);
      position: absolute;
      top: 0;
      &.as-primary {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }
}

.services__container {
  display: flex;
  flex-wrap: nowrap;
  width: 300%;
  height: 100vh;

  .panel-scroll-arrow {
    position: absolute;
    bottom: 5rem;
    display: flex;
    align-items: center;
    font-size: 2.25vw;

    @media (min-width: $layout-breakpoint-medium) {
      font-size: 1.5vw;
    }

    @media (max-width: $layout-breakpoint-tablet) {
      font-size: 2vw;
    }

    @media (max-width: $layout-breakpoint-xsmall) {
      font-size: 4vw;
    }
  }

  .panel {
    position: relative;
    width: 100vw;
    height: 100%;
    font-weight: 700;
    white-space: nowrap;

    .panel-not-last {

      > div {
        display: flex;
        max-width: 75%;
        gap: 2.5rem;

        @media (max-width: $layout-breakpoint-medium) {
          max-width: 65%;
          gap: 0rem;
        }

        @media (max-width: $layout-breakpoint-mini-medium) {
          max-width: 75%;
          gap: 1rem;
        }

        @media (max-width: $layout-breakpoint-tablet) {
          max-width: 85%;
          gap: 1rem;
        }

        @media (max-width: $layout-breakpoint-small) {
          max-width: 65%;
          gap: 1rem;
        }

        @media (max-width: $layout-breakpoint-xsmall) {
          max-width: 90%;
          gap: 1.25rem;
        }
      }

      p {
        font-size: 12rem;
        letter-spacing: 2rem;

        @media (max-width: $layout-breakpoint-medium) {
          font-size: 7rem;
        }

        @media (max-width: $layout-breakpoint-mini-medium) {
          font-size: 5rem;
        }

        @media (max-width: $layout-breakpoint-tablet) {
          font-size: 5rem;
          letter-spacing: 1.25rem;
        }

        @media (max-width: $layout-breakpoint-xsmall) {
          font-size: 3rem;
          letter-spacing: 1rem;
        }
      }
    }

    .panel-last {

      .last-scroll {
        font-size: 3rem;

        @media (min-width: $layout-breakpoint-medium) {
          font-size: 4rem;
        }

        @media (max-width: $layout-breakpoint-mini-medium) {
          font-size: 2.5rem;
        }

        @media (max-width: 860px) {
          font-size: 2rem;
        }
  
        @media (max-width: $layout-breakpoint-tablet) {
          font-size: 2rem;
          flex-direction: column;
        }
      }
    }
  }

  .panel-first,
  .panel-second {
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}