.navbar__container {

  @media (max-width: $layout-breakpoint-small) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border-bottom: 2px solid $green;
  }
  
  .navbar__links {
    list-style: none;
    display: flex;
    gap: 2rem;
  
    @media (max-width: $layout-breakpoint-small) {
      display: none;
    }
  }
}

.navbar__menu {

  @media (min-width: 961px) {
    display: none;
  }
}

.navbar__menu--container {
  margin: 0 auto;

  @media (min-width: 961px) {
    display: none;
  }

  .navbar__menu--links {
    list-style: none;
  }
}