@tailwind base;
@tailwind components;
@tailwind utilities;

@import "abstracts/variables";
@import "base/global";
@import "base/reset";
@import "base/typography";

/* ========== Landing ========== */
@import "landing/navbar";
@import "landing/banner";
@import "landing/section";
@import "landing/marquee";
@import "landing/loader";
@import "landing/contact";

/* ========== Components ========== */
@import "components/steps";

/* ========== Auth ========== */
@import "auth/authHeader";

* {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}